# .env.example

# Django
DEBUG=True
SECRET_KEY=your_secret_key_here
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/NAME
ALLOWED_HOSTS=localhost,127.0.0.1

# Static files (CSS, JavaScript, Images)
STATIC_URL=/static/
MEDIA_URL=/media/
